@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

.heading {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.description {
    color: rgb(65, 66, 69);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}

.banner {
    background-image: url('../images/Hero-bg.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /* Hero-bg */
    max-width: 1280px;
    height: 575px;
    padding: 30px 220px;
}

.banner * {
    margin-bottom: 24px;
}

.banner .banner-heading {
    width: 875px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}


.banner button {
    color: white;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 20px 24px;
    cursor: pointer;
}

.web-main {
    margin: 70px 150px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px;
}

.web-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 48px;
}

.web-title {
    font-size: 24px;
    font-weight: 700;
}

.web-details {
    color: rgb(65, 66, 69);
    margin-top: 16px;
    margin-bottom: 20px;
}

.web-section button {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;

}

.inspiration {
    text-align: center;
    margin-bottom: 150px;
}

.target {
    margin: 70px 150px;
}

.items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.item {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    margin-bottom: 8px;
    padding: 40px;
}

.item * {
    margin-bottom: 10px;
}

.item2 {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.support {
    margin: 80px 150px;
}

.support-section {
    background-image: url("../images/handshake.jpg");
    background-size: cover;
    text-align: center;
    padding: 80px 0;
}

.support-section h1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
}

.support-section p {
    color: rgb(255, 255, 255);
    opacity: .7;
    margin: 16px 0;
}

.support-section form {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    gap: 10px;
}

.support-section form input {
    padding-left: 20px;
    flex-grow: 1;
    border-radius: 8px;
    border: none;
}

.support-section form button {
    font-size: 20px;
    font-weight: 600;
    padding: 13px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    cursor: pointer;
}